{% extends "layout.html" %}
{% block title %}收货地址{% endblock %}
{% block main_content %}
<div class="panel panel-success">
  <div class="panel-heading">收货地址信息 <a href="javascript:;" id="add_new" class="act_add" style="float:right" onclick="add_address()">添加新地址</a></div>
    <table class="table">
      <tr>
        <th>收货人</th>
        <th>省份</th>
        <th>详细地址</th>
        <th>邮编</th>
        <th>手机号码</th>
        <th>默认</th>
      </tr>
      {% set datas = mail_data.data %}
      {% if datas %}
      {% for data in datas %}
      <tr>
      <td>{{ data.username }}
      [ <a href="javascript:;" class="act_edit" id="edit_addr_{{ data.id }}" onclick="edit_address('{{ data.id }}')"></a> | <a href="javascript:;" class="act_close" onclick="del_address('{{ data.id }}')"></a> ]
      </td>
        <td>{{ data.province.name }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.zipcode }}</td>
        <td>{{ data.phone }}</td>
        <td>{% if data.is_default|int == 1 %}<span class="badge"><span class="glyphicon glyphicon-ok"></span></span>{% else %}<a onclick="do_default('{{ data.id }}')" style="cursor:pointer"><span class="badge" style="background-color:#eee"><span class="glyphicon glyphicon-ok"></span></span></a>{% endif %}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </div>
</div>
<script type="text/javascript">
function add_address(){
  $.ajax({url:"/address/add", type:"GET", dataType:"json", data:"", success:function(response){
        //$MsgBox({appendTo:$("#container"), title:"添加新地址", arrow:false, message:response.html, footer:"hide", shadow:"hide"}).show()
        $ToolBox({appendTo:$("#add_new"), title:"添加新地址", arrow:false, allowOutWindow:false, html:response.html}).show()
  }})
}
function edit_address(id){
  $.ajax({url:"/address/edit", type:"GET", dataType:"json", data:"id={0}".format(id), success:function(response){
        //$MsgBox({appendTo:$("#container"), title:"添加新地址", arrow:false, message:response.html, footer:"hide", shadow:"hide"}).show()
        $ToolBox({appendTo:$("#edit_addr_"+id), id:"edit_address_box", title:"修改收获信息", arrow:false, allowOutWindow:false, html:response.html}).show()
  }})
}
function del_address(id){
  $MsgBox({appendTo:$("#container"), id:"del_confirm", title:"删除地址", message:"确认删除该收货人地址信息吗？", buttons:[
        {text:"确定", action:function(){
          $.ajax({url:"/address/do-delete", type:"POST", dataType:"json", data:"id={0}".format(id), success:function(response){
             window.location.reload();
          }})
        }},
        {text:"取消", action:function(){$("#del_confirm").tClose()}}
    ]}).show()
}
function do_default(id){
  $MsgBox({appendTo:$("#container"), id:"del_confirm", title:"默认地址", message:"确认设置该收货人为默认地址吗？", buttons:[
        {text:"确定", action:function(){
          $.ajax({url:"/address/do-default", type:"POST", dataType:"json", data:"id={0}".format(id), success:function(response){
             window.location.reload();
          }})
        }},
        {text:"取消", action:function(){$("#del_confirm").tClose()}}
    ]}).show()
}
</script>
{% endblock %}
