{% extends "layout.html" %}
{% block title %}用户信息{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-success">
    <div class="panel-heading">用户信息 <a href="javascript:;" id="edit_userinfo" class="act_edit" style="float:right" onclick="edit_userinfo()">修改用户信息</a></div>
      {% if user_data.return_code == 0 %}
      {% set data = user_data.data %}
      <div class="panel-body">
      {% set completed_data = completed / data|length %}
      {% set completed_persent = "%.1f%%" % ((completed / data|length) * 100) %}
      <p>已完成度：{{ completed_persent }}
      {% if completed_data > 0 and completed_data <= 0.3 %}
        {% set progress_bar_css = "danger" %}
      {% elif completed_data > 0.3 and completed_data <= 0.6 %}
        {% set progress_bar_css = "warning" %}
      {% elif completed_data > 0.6 and completed_data <= 0.9 %}
        {% set progress_bar_css = "info" %}
      {% else %}
        {% set progress_bar_css = "success" %}
      {% endif %}
      <div class="progress">
      <div class="progress-bar progress-bar-{{ progress_bar_css }}" role="progressbar" aria-valuenow="{{ completed }}" aria-valuemin="0" aria-valuemax="{{ data|length }}" style="width: {{ completed_persent }}">
        <span class="sr-only">{{ completed_persent }} Complete ({{ progress_bar_css}})</span>
        </div>
      </div>
      </p>
      </div>
      <!-- Table -->
      {% set default_value = "" %}
      <table class="table table-striped table-hover table-condensed table-bordered table-primary">
          <tr>
            <th>标准证件号</th>
            <td>{{ data.standard_orderid | default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>手机号码</th>
            <td>{{ data.phone |default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>用户姓名</th>
            <td>{{ data.username |default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>性别</th>
            <td>{{ userinfo.gender(data.gender|int) }}</td>
          </tr>
          <tr>
            <th>邮箱号码</th>
            <td>{{ data.email | default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>联系地址</th>
            <td>{{ data.address | default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>生日</th>
            <td>{{ data.birthday | default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>电话号码</th>
            <td>{{ data.tel |default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>邮编</th>
            <td>{{ data.zipcode | default(default_value, true) }}</td>
          </tr>
          <tr>
            <th>传真号码</th>
            <td>{{ data.fax | default(default_value, true) }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
    <div class="panel-heading">钱包信息</div>
      {% if wallet_data.return_code == 0 %}
      {% set wt_data = wallet_data.data %}
      {% set lt_data = trans_data.data %}
      <div class="panel-body" id="wallet_body">
      {% if wt_data.status == 0 %}
      <div class="alert alert-danger">
        <p>钱包尚未开通</p>
        <button type="button" id="register_online" class="btn btn-danger" onclick="register_online()">立即开通</button>
      </div>
      {% else %}
      <div class="alert alert-info">
        <p>钱包正常</p>
      </div>
      {% endif %}
      </div>
      <table class="table table-striped table-hover table-condensed table-bordered table-primary">
        <tr>
          <th>余额</th>
          <td>{{ wt_data.balance | default(0, true) }}</td>
        </tr>
        <tr>
          <th>可用余额</th>
          <td>{{ wt_data.available_balance | default(0, true) }}</td>
        </tr>
        <tr>
          <th>钱包开通时间</th>
          <td>{{ wt_data.start_date | default("--", true) }}</td>
        </tr>
        <tr>
          <th>钱包过期时间</th>
          <td>{{ wt_data.end_date | default("--", true) }}</td>
        </tr>
        <tr>
          <th>单笔交易限额</th>
          <td>{{ lt_data.time_limited | default("--", true) }}</td>
        </tr>
        <tr>
          <th>当日交易限额</th>
          <td>{{ lt_data.date_limited | default("--", true) }}</td>
        </tr>
        <tr>
          <th>当月交易限额</th>
          <td>{{ lt_data.month_limited | default("--", true) }}</td>
        </tr>
      </table>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
function register_online(){
  $.ajax({
    url:"/basic/register-online",
    type:"GET",
    dataType:"html",
    data:Math.random(),
    success:function(response){
      $ToolBox({appendTo:"#register_online", direction:"bottom", title:"开通钱包", html:response, buttons:[]}).show()
      //$MsgBox({id:"register_online_box", title:"开通钱包", appendTo:"#container", message:response, buttons:[
      //      {text:"关闭", action:function(){$("register_online_box").tClose()}}
      //  ]}).show()
    }
  })
}
function edit_userinfo(){
  $.ajax({
      url:"/basic/userinfo?operate=edit&{0}".format(Math.random()),
    type:"GET",
    dataType:"html",
    success:function(response){
      $ToolBox({appendTo:"#edit_userinfo", direction:"bottom", title:"修改用户信息", html:response, buttons:[]}).show()
      //$MsgBox({id:"edit_userinfo_box", title:"修改用户信息", appendTo:"#container", message:response, buttons:[
      //      {text:"关闭", action:function(){$("#edit_userinfo_box").tClose()}}
      //  ]}).show()
    }
  })
}
</script>
{% endblock %}

