<div class="text-center">
<ul class="pagination pagination-sm">
  <li class="disabled"><a href="javascript:;">共&#160;{{ page.paginator.count }}&#160;{{ page.paginator.unit_name }}</a></li>
{% if page.paginator.num_pages > 1 %}
  {% if page.previous_page_number() %}
  <li><a href="?{{ s }}page={{ page.previous_page_number() }}">上一页</a></li>
  {% else %}
  <li class="disabled"><a href="javascript:;">上一页</a></li>
  {% endif %}

  {% if page.paginator.num_pages <= 10 %}
        {% for i in page.paginator.page_range %}
          {% if page.number != i %}
          <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
          {% else %}
          <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
          {% endif %}
        {% endfor %}
  {% else %}
        {% if page.number < 5 or page.number > page.paginator.num_pages-4 %}
          {% for i in range(1,6) %}
              {% if page.number != i %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% endif %}
          {% endfor %}
          <li class="disabled"><a href="javascript:;">...</a></li>
          {% for i in range(page.paginator.num_pages-4,page.paginator.num_pages+1) %}
              {% if page.number != i %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% endif %}
          {% endfor %}
        {% elif page.number == 5 %}
          {% for i in range(1,7) %}
              {% if page.number != i %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% endif %}
          {% endfor %}
          <li class="disabled"><a href="javascript:;">...</a></li>
          {% for i in range(page.paginator.num_pages,page.paginator.num_pages+1) %}
              {% if page.number != i %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% endif %}
          {% endfor %}
        {% elif page.number == page.paginator.num_pages-4 %}
          {% for i in range(1,2) %}
              {% if page.number != i %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% endif %}
          {% endfor %}
          <li class="disabled"><a href="javascript:;">...</a></li>
          {% for i in range(page.paginator.num_pages-5,page.paginator.num_pages+1) %}
              {% if page.number != i %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% endif %}
          {% endfor %}
        {% else %}
          {% for i in range(1,2) %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
          {% endfor %}
          <li class="disabled"><a href="javascript:;">...</a></li>
          {% for i in range(page.number-4,page.number+5) %}
              {% if page.number != i %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
              {% else %}
              <li class="active"><a href="javascript:;">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% endif %}
          {% endfor %}
          <li class="disabled"><a href="javascript;">...</a></li>
          {% for i in range(page.paginator.num_pages,page.paginator.num_pages+1) %}
              <li><a href="?{{ s }}page={{ i }}">{{ i }}</a></li>
          {% endfor %}
        {% endif %}
  {% endif %}

  {% if page.next_page_number() <= page.paginator.num_pages %}
  <li><a href="?{{ s }}page={{ page.next_page_number() }}">下一页</a></li>
  {% else %}
  <li class="disabled"><a href="javascript:;">下一页</a></li>
  {% endif %}
{% endif %}
</ul>
</div>
