<div class="panel-group" id="accordion">
  <!-- 基本信息 -->
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">基础类型扩展</a>
      </h4>
    </div>
	 <div id="collapseOne" class="panel-collapse collapse">
	   <div class="panel-body">
	     <ul class="nav nav-pills nav-stacked">
	       <li nid="string"><span><a href="/basic/string">字符串</a></span></li>
	     </ul>
	   </div>
	 </div>
  </div>
  <!-- 收货地址 -->
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">jquery dom函数扩展</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li nid="drags"><span><a href="/dom/drags">拖动效果</a></span></li>
          <li nid="fshow"><span><a href="/dom/fshow">弹出框</a></span></li>
          <li nid="buttons"><span><a href="/dom/buttons">按钮</a></span></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 钱包信息 -->
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">自定义函数</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li nid="isbrowser"><span><a href="/function/isbrowser">判断浏览器</a></span></li>
          <li nid="isdefined"><span><a href="/function/isdefined">对象检查</a><span></li>
          <li nid="getchkvals"><span><a href="/function/getchkvals">获取checkbox/radiobox值</a><span></li>
          <li nid="generateId"><span><a href="/function/generateId">生成随机数</a><span></li>
          <li nid="cookie"><span><a href="/function/cookie">Cookie</a><span></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 交易记录 -->
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">自定义类</a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        <li nid="msgbox"><span><a href="/clazz/msgbox">消息提示框</a></span></li>
        <li nid="toolbox"><span><a href="/clazz/toolbox">工具提示框</a><span></li>
        <li nid="alertbox"><span><a href="/clazz/alertbox">警告框</a><span></li>
        <li nid="paramsbox"><span><a href="/clazz/paramsbox">筛选框</a><span></li>
        </ul>
      </div>
    </div>
  </div>
</div>