{% extends "layout.html" %}
{% block title %}支付信息管理{% endblock %}
{% block main_content %}
<div class="panel panel-success">
<div class="panel-heading">支付信息管理</div>
<table class="table table-hover">
  <tr>
    <th>支付类型</th>
    <th>开启状态</th>
    <th class="text-center">账户余额</th>
  </tr>
  <tr>
    <td> <h4 class="list-group-item-heading">钱包余额支付</h4> </td>
    <td> <p class="list-group-item-text"><div class="toggle-light"></div></p> </td>
    <td class="text-center"><span class="badge">96</span></td>
  </tr>
  <tr>
    <td> <h4 class="list-group-item-heading">银联支付</h4> </td>
    <td> <p class="list-group-item-text"><div class="toggle-light"></div></p> </td>
    <td class="text-center"><span class="badge">33</span></td>
  </tr>
  <tr>
    <td> <h4 class="list-group-item-heading">银行卡快捷支付</h4> </td>
    <td> <p class="list-group-item-text"><div class="toggle-light"></div></p> </td>
    <td class="text-center"><span class="badge">1400</span></td>
  </tr>
  <tr>
    <td> <h4 class="list-group-item-heading">易宝支付</h4> </td>
    <td> <p class="list-group-item-text"><div class="toggle-light"></div></p> </td>
    <td class="text-center"><span class="badge">280</span></td>
  </tr>
  <tr>
    <td> <h4 class="list-group-item-heading">短信支付</h4> </td>
    <td> <p class="list-group-item-text"><div class="toggle-light"></div></p> </td>
    <td class="text-center"><span class="badge">99</span></td>
  </tr>
</table>
</div>

<script>
$(function() {
  //$('input[type=checkbox]').iToggle();
//$('#toggle1').toggles();
  $('.toggle-light').toggles({
    drag: true, // can the toggle be dragged
    click: true, // can it be clicked to toggle
    text: {
      on: '已开启', // text for the ON position
      off: '已关闭' // and off
    },
    on: true, // is the toggle ON on init
    animate: 250, // animation time
    transition: 'ease-in-out', // animation transition,
    //checkbox: "#toggle2", // the checkbox to toggle (for use in forms)
    clicker: null, // element that can be clicked on to toggle. removes binding from the toggle itself (use nesting)
    width: 100, // width used if not set in css
    height: 30, // height if not set in css
    type: 'compact' // if this is set to 'select' then the select style toggle will be used
  //}).on("toggle", function(e, active){
  //    if(active){
  //    }else{
  //    }
  });
});
</script>
<script>
//$(function() {
//  $('input[type=checkbox]').iToggle({
//  speed: 70, // the speed of animation.
//  defaultOffLabel: 'no',
//  defaultOnLabel: 'yes'
//  });
//});
</script>

{% endblock %}
