<html>
<head>
    <title>{{ title }}</title>
    <script type="text/javascript" language="JavaScript" src="/static/bootstrap/js/jquery-1.10.2.min.js"></script>
    <script type='text/javascript' language='JavaScript'>
    $(function(){
        setTimeout(requestInventory, 100);
    });

    function requestInventory(){
        $.getJSON("/init-status",{},function(data, Status, xhr){
                var content = data.content;
                var txt = "<p>"+content+"</p>"
                $("#chatContent").append(txt);
                setTimeout(requestInventory, 0);
        });
    }
    function post_chat(){
            $.post("/init-data",{
                content: $("#message").val()
            },type="json");
    }
    </script>
</head>
<body>
    <br>
    <div id="chatContent"></div>
    <a href="javascript:;" id="myapp" onclick="post_chat()">修改</a>
    <input type="text" id="message" value="fafa" />
</body>
</html>
