{% extends "layout.html" %}
{% block title %}充值记录{% endblock %}
{% block main_content %}
<div class="panel panel-success">
<div class="panel-heading"><span class="glyphicon glyphicon-th-list"></span> {{ handler.kwargs["title"] }}</div>
    <table class="table">
      <tr>
        <th>应用appkey</th>
        <th>渠道</th>
        <th>交易金额</th>
        <th>交易日期</th>
        <th>主钱包账号</th>
        <th>交易对方</th>
        <th>交易追踪号</th>
        <th>交易类型</th>
        <th>摘要</th>
      </tr>
      {% for data in datas %}
      <tr>
        <td>{{ data.appkey }}</td>
        <td>{{ data.channel }}</td>
        <td>{{ data.money }}</td>
        <td>{{ data.transaction_date }}</td>
        <td>{{ data.usercode }}</td>
        <td>{{ data.ref_usercode }}</td>
        <td>{{ data.trace_sn }}</td>
        <td>{{ data.trade_type }}</td>
        <td>{{ data.resume }}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% include "paginator.html" %}
{% endblock %}
