{% extends "layout.html" %}
{% block title %}generateId{% endblock %}
{% block main_content %}
<div class="bs-docs-section">
  <div class="page-header">
    <h1>生成随机数</h1>
  </div>
  <p>根据实际环境中所需要的随机数范围，生成随机数。</p>
  <h2>参数</h2>
  <div class="bs-example">
    <pre>
{
  randomStr:null,
  length:5
}</pre>
  </div>
  <h2>代码</h2>
  <div class="bs-example">
    <pre>$generateId({randomStr:"ABCDabcd1234", length:6})</pre>
  </div>
  <h4>效果展示</h4>
  <button type="button" id="button" class="btn btn-primary">确定</button>
</div>
<script type="text/javascript" >
$(function(){
  $("#button").bind("click", function(){
    $ToolBox({
        title:"$generateId", 
        message:"generateId:{0}".format($generateId({randomStr:"ABCDabcd1234", length:6}))
    }).show()
  })
})
</script>
{% endblock %}
