  <div class="col-sm-7">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">手机号码</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="phone" placeholder="" onblur="checkUserExist()">
          <span class="help-block" name="phone"></span>
        </div>
        <div class="col-sm-4">
          <span name="success" style="display:none;" class="glyphicon-ok reg-success-icon"></span>
          <span name="error" style="display:none;" class="glyphicon-remove reg-error-icon"></span>
          <a href="javascript:;" id="do_captcha" class="btn btn-default" data-loading-text="正在发送短信验证码..." data-complete-text="重新获取短信验证码" onclick="fetch_phonecaptcha()">获取短信验证码</a>
        </div>
      </div>
      <div class="form-group">
        <label for="phone_captcha" class="col-sm-2 control-label">手机验证码</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="phone_captcha" placeholder="" onblur="checkInputVals('phone_captcha')">
          <span class="help-block" name="phone_captcha"></span>
        </div>
        <div class="col-sm-4">
          <span name="success" style="display:none;" class="glyphicon-ok reg-success-icon"></span>
          <span name="error" style="display:none;" class="glyphicon-remove reg-error-icon"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password" placeholder="" onblur="checkInputVals('password')">
          <span class="help-block" name="password"></span>
        </div>
        <div class="col-sm-4">
          <span name="success" style="display:none;" class="glyphicon-ok reg-success-icon"></span>
          <span name="error" style="display:none;" class="glyphicon-remove reg-error-icon"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="repeat_password" class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="repeat_password" placeholder="" onblur="checkInputVals('repeat_password')">
          <span name="success" style="display:none;" class="glyphicon-ok reg-success-icon"></span>
          <span name="error" style="display:none;" class="glyphicon-remove reg-error-icon"></span>
          <span class="help-block" name="repeat_password"></span>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button type="button" id="do_reg" class="btn btn-warning" data-loading-text="正在提交..." data-complete-text="提交成功"  onclick="checkUserExist(do_register)">提 交</button>
        </div>
      </div>
    </form>
  </div>

<script type="text/javascript">
var start_second = 60;
var curr_sec = null;
var tm = null;
function clock(){
  content = "秒后可重新获取短信验证码"
  if(typeof curr_sec == 'undefined' || curr_sec == null){
    curr_sec = start_second;
  }
  default_seconds = 10;
  curr_sec = curr_sec - 1;
  if (parseInt(curr_sec) <= 0){
    curr_sec = default_seconds;
    $("#do_captcha").button("complete");
    window.clearInterval(tm);
    tm = null;
    curr_sec = null;
  }else{
    $("#do_captcha").text(curr_sec + content);
    //$("#do_captcha").button("loading");
    //$("#do_captcha").button(curr_sec + content);
  }
}

function fetch_phonecaptcha(){
  $("#do_captcha").button("loading");
  var phone = $("#phone").val();
  var params = "phone={0}".format(phone)
  $.ajax({url:"/reg/phone-captcha", type:"POST", dataType:"json", data:params, success: function(response){
    $(".help-block").html("")
    if ( response.result.return_code == 0 ){
      tm = setInterval(clock, 1000);
      $AlertBox({appendTo:".help-block[name=phone]", alert:"alert-success", html:"短信验证码已发送到手机"}).show()
    }else{
      $("#do_captcha").button("complete");
      $AlertBox({appendTo:".help-block[name=phone]", html:response.result.return_message}).show()
    }
  }, error:function(){
    $("#do_captcha").text("网络有误，重新获取短信验证码")
    $("#do_captcha").button("网络有误，重新获取短信验证码");
  }})
}

var chkFlag = true;

function checkUserExist(callback){
  $(".help-block").html("")
  var phone = $("#phone").val();
  if (phone == "" || phone == null){
    $AlertBox({appendTo:$("span[name=phone]"), html:"手机号码不能为空"}).show();
    $("#phone").focus();
    $("#phone").parent().next().find("span[name=success]").css("display", "none")
    $("#phone").parent().next().find("span[name=error]").css("display", "")
    chkFlag = false;
    return false;
  }else{
    $("#phone").parent().next().find("span[name=success]").css("display", "")
    $("#phone").parent().next().find("span[name=error]").css("display", "none")
  }
  $.ajax({url:"/reg/check-user-exist", type:"POST", dataType:"json", data:"username={0}".format(phone), success:function(response){
      if(response.result.return_code==0 && response.result.data==0){
        $("#phone").parent().next().find("span[name=success]").css("display", "")
        $("#phone").parent().next().find("span[name=error]").css("display", "none")
        chkFlag = true;
      }else{
        $("#phone").parent().next().find("span[name=success]").css("display", "none")
        $("#phone").parent().next().find("span[name=error]").css("display", "")
        $AlertBox({appendTo:".help-block[name=phone]", html:"对不起，该用户已存在"}).show()
        chkFlag = false;
        return false;
      }
      if (callback) (callback)()
  }})
}

function checkInputVals(breakPoint){
  $(".help-block").html("")
  var phone = $("#phone").val();
  var phone_captcha = $("#phone_captcha").val();
  var password = $("#password").val();
  var repeat_password = $("#repeat_password").val();
  $("span.help-block").html("")
  if (phone_captcha == "" || phone_captcha == null){
    $AlertBox({appendTo:$("span[name=phone_captcha]"), html:"手机验证码不能为空"}).show();
    $("#phone_captcha").focus();
    $("#phone_captcha").parent().next().find("span[name=success]").css("display", "none")
    $("#phone_captcha").parent().next().find("span[name=error]").css("display", "")
    chkFlag = false;
    return false;
  }else{
    $("#phone_captcha").parent().next().find("span[name=success]").css("display", "")
    $("#phone_captcha").parent().next().find("span[name=error]").css("display", "none")
  }
  if (breakPoint == "phone_captcha") return;
  if (password == "" || password == null){
    $AlertBox({appendTo:$("span[name=password]"), html:"密码不能为空"}).show();
    $("#password").focus();
    $("#password").parent().next().find("span[name=success]").css("display", "none")
    $("#password").parent().next().find("span[name=error]").css("display", "")
    chkFlag = false;
    return false;
  }else{
    $("#password").parent().next().find("span[name=success]").css("display", "")
    $("#password").parent().next().find("span[name=error]").css("display", "none")
  }
  if (breakPoint == "password") return;
  if (repeat_password == "" || repeat_password == null){
    $AlertBox({appendTo:$("span[name=repeat_password]"), html:"确认密码不能为空"}).show();
    $("#repeat_password").focus();
    $("#repeat_password").parent().next().find("span[name=success]").css("display", "none")
    $("#repeat_password").parent().next().find("span[name=error]").css("display", "")
    chkFlag = false;
    return false;
  }else{
    $("#repeat_password").parent().next().find("span[name=success]").css("display", "")
    $("#repeat_password").parent().next().find("span[name=error]").css("display", "none")
  }
  if (password != repeat_password){
    $AlertBox({appendTo:$("span[name=repeat_password]"), html:"确认密码有误"}).show();
    $("#repeat_password").focus();
    $("#repeat_password").parent().next().find("span[name=success]").css("display", "none")
    $("#repeat_password").parent().next().find("span[name=error]").css("display", "")
    chkFlag = false;
    return false;
  }else{
    $("#repeat_password").parent().next().find("span[name=success]").css("display", "")
    $("#repeat_password").parent().next().find("span[name=error]").css("display", "none")
  }
  if (breakPoint == "repeat_password") return;
  chkFlag = true;
}

function do_register(){
  $("#do_reg").button("loading");
  var phone = $("#phone").val();
  var phone_captcha = $("#phone_captcha").val();
  var password = $("#password").val();
  var repeat_password = $("#repeat_password").val();
  checkInputVals();
  if (chkFlag == false){
    $("#do_reg").button("reset");
    return false;
  }
  password = SHA1(password);
  var params = "phone={0}&phone_captcha={1}&password={2}".format(phone, phone_captcha, password);
  $.ajax({url:"/reg", type:"POST", dataType:"json", data:params, success:function(response){
    if (response.result == true){
      $("#do_reg").button("complete");
      window.location.href = "/do_login?{{ request.query }}"
      return true;
    }else{
      $MsgBox({appendTo:$("div.container"), title:"注册提示", message:response.message}).show();
      $("#do_reg").button("reset");
      return false
    }
  }, error:function(){
    var text = "网络有误，请重新提交注册信息"
    $("#do_reg").text(text);
    $("#do_reg").button(text);
  }})
}
</script>

