{% set data = user_data["data"] %}
<form class="form-horizontal" role="form" style="width:592px">
  <div class="form-group">
    <label for="orderid" class="col-sm-2 control-label">证件号码</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="orderid" placeholder="" value="{{ data.standard_orderid | default('', true) }}">
      <span class="help-block" name="orderid"></span>
    </div>
    <label for="phone" class="col-sm-2 control-label">手机号码</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{ data.phone }}</p>
      <span class="help-block" name="phone"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">用户姓名</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="username" placeholder="" value="{{ data.username  | default('', true)}}">
      <span class="help-block" name="username"></span>
    </div>
    <label for="gender" class="col-sm-2 control-label">性别</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="gender" placeholder="" value="{{ data.gender | default('', true) }}">
      <span class="help-block" name="gender"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">邮箱号码</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="email" placeholder="" value="{{ data.email | default('', true) }}">
      <span class="help-block" name="email"></span>
    </div>
    <label for="address" class="col-sm-2 control-label">联系地址</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="address" placeholder="" value="{{ data.address | default('', true) }}">
      <span class="help-block" name="address"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">生日</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="birthday" placeholder="" value="{{ data.birthday | default('', true) }}">
      <span class="help-block" name="birthday"></span>
    </div>
    <label for="tel" class="col-sm-2 control-label">电话号码</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="tel" placeholder="" value="{{ data.tel | default('', true) }}">
      <span class="help-block" name="tel"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="zipcode" class="col-sm-2 control-label">邮编</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="zipcode" placeholder="" value="{{ data.zipcode | default('', true) }}">
      <span class="help-block" name="zipcode"></span>
    </div>
    <label for="fax" class="col-sm-2 control-label">传真号码</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" id="fax" placeholder="" value="{{ data.fax | default('', true) }}">
      <span class="help-block" name="fax"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="button" class="btn btn-warning" onclick="do_edit_userinfo()">确定</button>
    </div>
  </div>
</form>
<script type="text/javascript">
function do_edit_userinfo(){
  var orderid = $("#orderid").val();
  var username = $("#username").val();
  var gender = $("#gender").val();
  var phone = $("#phone").val();
  var tel = $("#tel").val();
  var address = $("#address").val();
  var birthday = $("#birthday").val();
  var zipcode = $("#zipcode").val();
  var email = $("#email").val();
  var fax = $("#fax").val();

  $("span.help-block").html("")
  
  $MsgBox({id:"edit_userinfo_box", message:"确认修改用户信息吗？", appendTo:$("#container"), buttons:[
        {text:"确定", action:function(){
            $.ajax({
                url: "/basic/userinfo",
                type:"post",
                dataType:"json",
                data:encodeURI("standard_orderid={0}&username={1}&gender={2}&phone={3}&tel={4}&address={5}&birthday={6}&zipcode={7}&email={8}&fax={9}".format(orderid, username, gender, phone, tel, address, birthday, zipcode, email, fax)),
                success: function(response){
                  $("#edit_userinfo_box").tClose();
                  if (response.result.return_code == 0){
                    $MsgBox({message:"用户信息修改成功!", appendTo:$("#container")}).show()
                    window.location.reload();
                  }else{
                    $MsgBox({message:response.result.return_message, appendTo:$("#container")}).show()
                  }
                }
            })
        }},
        {text:"取消", action:function(){
          $("#register_online_confirm_box").tClose();
        }}
  ]}).show();
}
</script>

